:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --grey: #757575;
  --darkgrey: #2f303a;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notwhite: #f5f4fa;
  --notblack: #212121;
  --productborder: #eeeeee;
  --footerlinks: #ffffff99;
}

:body {
  font-family: "Roboto", "Releway", sans-serif;
  background-color: var(--lightgray);
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

/* Nav-links and email/tel. */

.logo {
  background-color: var(--white);
  font-family: "Roboto";
  /* margin-left: 220px; */
  border-bottom: 1px solid;
  border-color: var(--lightgrey);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
  list-style-type: none;
}

.logo-style {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}

.text-blue {
  font-family: "Roboto";
  color: var(--blue);
}
.text-black {
  font-family: "Roboto";
  font-weight: 500;
  color: var(--black);
}
.nav-style-top {
  background-color: #fff;
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  color: red;
  position: absolute;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.link-style {
  list-style-type: none;
  text-decoration: none;
  gap: 46px;
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;
  margin-right: 46px;
}

.link-style:hover {
  color: var(--blue);
}

.contacts {
  list-style-type: none;
  font-style: normal;
  position: absolute;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 500px;
}
.email {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  list-style-type: none;
  text-decoration: none;
  color: var(--grey);
}
.telephone {
  color: var(--grey);
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;
  padding-left: 40px;
  list-style-type: none;
  text-decoration: none;
}

/* BUTTONS  */
.buttons-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.buttons-nav .button:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  outline: none;
}
.button {
  font-family: "Roboto";
  background-color: var(--notwhite);
  border-radius: 4px;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 18px;
  padding-right: 18px;
}

.buttons-nav div {
  margin-right: 65px;
  width: 0px;
  text-align: center;
}
/* PRODUCTS */

.product-box {
  font-family: "Roboto";
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  list-style: none;
}
.product-card {
  border: var(--productborder) solid 1px;
  width: 370px;
  height: 404px;
}
.product-top {
  color: var(--notblack);
  font-weight: 700;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 20px 0 4px 24px;
}
.product-text {
  color: var(--grey);
  font-family: "roboto";
  font-weight: 400;
  line-height: 1.88;
  font-size: 16px;
  margin: 0 0 0 24px;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: var(--darkgrey);
  padding: 60px 0;
}
.footer-container {
  flex-direction: column;
  color: var(--white);
}
.adress {
  margin: 20px;
  font-style: normal;
}

.adress-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.white-logo {
  color: var(--white);
}
.logo-style-footer {
  font-family: "Raleway";
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.no-underline {
  text-decoration: none;
}
.no-margin {
  margin: 0;
}

.link-footer {
  list-style: none;
  padding: 0;
}
.info-email-footer {
  list-style-type: none;
  text-decoration: none;
  color: var(--grey);
}
